.dashboard-container{
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 25px;
    width: 50%;
}