.generate-form{
    width: 75%;
}
.generate-form--form{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.generate-form--select{
    width: 75%;
    height: 45px;
    background: transparent;
    border: none;
    &:focus{
        background: transparent;
        border: none;
        outline: none;
    }
}